.myGrid
{
	
	margin: 0px;
	width: 1000px;
	font: 12px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	
}
.myGrid tr
{
	border: solid 1px #FFFFFF;
	
}

.myGrid td
{
	padding: 2px;
	font-weight: normal;
	border: solid 1px #FFFFFF;	
}

.myGrid td.right
{
	color: Red;
}
.myGrid td.wrong
{
	color: Green;
}
.myGrid th
{
	/*font-weight:Bold;
	padding: 6px 3px;
	color: #FFFFFF;*/
}
.myGridItem
{
	background-color:#FCF0CF;	
	color:#333;
	border-top:1px solid Black;
	font-family: MS Sans Serif;
	font-size:9pt;
	text-align:center;
}

.myGridAltItem
{
	background:#FCF0CF;
	color:#333;
	font-family: MS Sans Serif;
	font-size:9pt;
}

.myGridHeader
{
	background-color:#CD8938;
	font-size:9pt;
	color:#FFFFFF;
	font-weight:normal;
}
.myGridFooter
{
    background-color:#ffffff;	
	color:#333;
	border-top:1px solid Black;
	font-family: MS Sans Serif;
	font-size:9pt;
	font-weight:bold;
	text-align:right;
}

