body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#FFF;
}
ol
{
    margin:0;
    }
ul
    {
        margin:0;
        padding:0;
    }
.menu{
font-family: Arial, Helvetica, sans-serif;
color:#FFFFFF;
font-size:12px;
font-weight:bold;
text-decoration:none;
}
.menu:hover{
font-family:Arial, Helvetica, sans-serif;
color:#78210B;
font-size:12px;
font-weight:bold;
text-decoration:none;
}
.arrow{
background-image:url(../images/arrow.png);
background-repeat:no-repeat;
background-position:right;
}

/*.whatsNewDiv{
	scrollbar-face-color: #CF8339;
	scrollbar-shadow-color: #844304;
	scrollbar-highlight-color: #844304;
	scrollbar-3dlight-color: #844304;
	scrollbar-darkshadow-color: #844304;
	scrollbar-track-color: #844304;
	scrollbar-arrow-color: #844304;
}


     .ariallinkcolor
     {
font-family:Arial, Helvetica, sans-serif;
font-size:10pt;
color:#000000;
font-weight:bold;
text-decoration:none;         
     }
*/
.whatsNew{
font-family:Arial, MS Sans Serif, Helvetica, sans-serif;
font-size: 12px;
color:#000000;
text-decoration:none;
}
.whatsNewTitle{
font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
color:#000000;
}
.ariallinkcolor{
font-family:Arial, MS Sans Serif, Helvetica, sans-serif;
font-size:10pt;
color:#0000FF;
text-decoration:none;
font-weight:bold;   
}
.ariallinkcolor12{
font-family:Arial, MS Sans Serif, Helvetica, sans-serif;
font-size:12pt;
color:#0000FF;
text-decoration:none;
font-weight:bold;   
}
.ariallinkmaroon{
font-family:Arial, MS Sans Serif, Helvetica, sans-serif;
font-size:10pt;
color:#604018;
text-decoration:none;
font-weight:bold;   
}

.copyBlue{
font-family:Arial, MS Sans Serif, Helvetica, sans-serif;
font-size:12px;
color:#0000FF;
text-decoration:none;
}
.copyBlue:hover{
font-family:Arial, MS Sans Serif, Helvetica, sans-serif;
font-size:12px;
color:#7D250C;
text-decoration:none;
}
.copy{
font-family:Arial, MS Sans Serif, Helvetica, sans-serif;
font-size:12px;
color:#000000;
}
.dealerServices{
font-family: Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
text-decoration:none;
}
.dealerServices:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#990033;
text-decoration:none;
}
.tdOtherTopics{
padding-top:35px;
height:375px;
}
.deptMenu{
font-family: Arial, Helvetica, sans-serif;
font-size:13px;
color:#000000;
text-decoration:none;
font-weight:bold;
}
.deptMenu:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#990033;
text-decoration:none;
font-weight:bold;
}
.boxLeft{
width:7px;
background-image:url(../images/boxLeft.jpg);
height:32px;
}
.boxRight{
width:7px;
background-image:url(../images/boxRight.jpg);
height:32px;
}
.boxMiddle{
background-image:url(../images/boxMiddle.jpg);
width:111px;
}
.box1Left{
width:7px;
background-image:url(../images/box1Left.jpg);
height:32px;
}
.box1Right{
width:7px;
background-image:url(../images/box1Right.jpg);
height:32px;
}
.box1Middle{
background-image:url(../images/box1Middle.jpg);
width:111px;
}
.tdHeight{
height:10px;
}
.innterTable{
margin-top:10px;
margin-bottom:10px;
}
.innerLinks{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000099;
font-weight:bold;
letter-spacing:1px;
text-decoration:none;
}
.innerLinks:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#CC0000;
font-weight:bold;
text-decoration:none;
letter-spacing:1px;
}

.highLight{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
color:#800000;
}
.pageTitle{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#990000;
font-weight:bold;
margin-top:10px;
margin-bottom:10px;
text-align:left;
padding:0 5px;
}

.td1{
background-color:#F0E2BD}
.td2{
background-color:#EDDCAD}
.tdBg
{
background-color:#ffffff}
.td3{
background-color:#FFF}
.textbox125
{
    width:125px;
    font-size:9pt;
    color:Black;
    text-align:left;
}
/* window*/
.applemenu{
margin: auto;
padding: 0;
width: 100%; /*width of menu*/
}

.applemenu div.silverheader a{
   background: #dddddd none repeat scroll 0 0;
    color: #000;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 2px;
    padding: 9px;
    position: relative;
    text-decoration: none;
    width: auto;

}


.applemenu div.silverheader a:visited, .applemenu div.silverheader a:active{
color: ;
}


.applemenu div.selected a, .applemenu div.silverheader a:hover {
  background: #990000 none repeat scroll 0 0;
  color: #fff;
  padding: 9px;
}

.applemenu div.submenu{ /*DIV that contains each sub menu*/
  background: #FFF none repeat scroll 0 0;
    border: medium none;
    color: #000;
    display: block;
    font-family: Arial;
    font-size: 13px;
    margin-top: 0;
    padding:15px;
    position: relative;
    text-decoration: none;
    width: auto;
/*height: 300px; Height that applies to all sub menu DIVs. A good idea when headers are toggled via "mouseover" instead of "click"*/
}
/* window*/
.arrowList{
list-style-image:url(../faqs/images/arrows.gif);
}
.HistoryList{
list-style-type:cjk-ideographic;
background-color:#F0E2BD;
padding:1px;
}
.BodyTxt{
font-family:Arial, Helvetica, sans-serif;
font-size:10pt;
color:#000000;
line-height:20px;
text-align:justify;
padding-right:5px;
}
.tableTxt{
font-family:Arial, Helvetica, sans-serif;
font-size:10pt;
color:#000000;
}
.tableTxtBold{
font-family:Arial, Helvetica, sans-serif;
font-size:10pt;
font-weight:bold;
color:#000000;
line-height:20px;
text-align:justify;
}
.tableTxtWhite{
font-family:Arial, Helvetica, sans-serif;
font-size:10pt;
color:#000000;
line-height:20px;
text-align:justify;
}
.tableTxtWhite td{
font-family:Arial, Helvetica, sans-serif;
font-size:10pt;
color:#000000;
background-color:#FFFFFF;
line-height:20px;
text-align:justify;
}
.orangeTxt{
font-family:Arial, Helvetica, sans-serif;
font-size:10pt;
color:#FF6600;
line-height:20px;
margin-left:30px;
}
.orangeTxt1{
font-family:Arial, Helvetica, sans-serif;
font-size:10pt;
color:#FF6600;
line-height:20px;
}
.tableHead{
font-family: Arial, Helvetica, sans-serif;
color:#FFFFFF;
font-size:12px;
font-weight:bold;
text-decoration:none;
}
.tdHeight20{
height:20px;
}
#goTop{
position:fixed;
top:95%;
bottom:0;
right:0;
float:right;
width:50px;
}
.iframe1
{
    height:600px;
    width:100%;
}

.title1{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
font-weight:bold;
color:#000000;
}
.title{
font-family:Arial, Helvetica, sans-serif;
font-size:20pt;
color:#800000;
font-weight:bold;
text-decoration:none;
}

.title2{
font-family:Arial, Helvetica, sans-serif;
font-size:10pt;
font-weight:bold;
color:#800000;
}

.feedBackInput{
font-family:Arial, Helvetica, sans-serif;
font-size:9pt;
width:300px;
}
.feedbackMsg{
font-family:Arial, Helvetica, sans-serif;
font-size:9pt;
}
.ErrMsg{
color:#FF3300;
font-family:Arial, Helvetica, sans-serif;
font-size:9pt;
font-weight:bold;
}
.SuccessMsg{
color:Green;
font-family:Arial, Helvetica, sans-serif;
font-size:9pt;
font-weight:bold;
}
#topbar{
position:absolute;
width: 30px;
visibility: hidden;
z-index: 100;
}

.fieldSet2{
font-size:10pt;
padding-left:10px;
border:1px solid;
width:850px;
border-color:#990000;
float:inherit;
margin:auto;
}
.fieldSet2 legend{
border:1px solid;
border-color:#990000;
font-weight:bold;
color:#990000;
background-color:#F0E2BD;
padding-left:8px;
padding-right:8px;
padding-top:5px;
padding-bottom:5px;
margin-left:10px;
width:220px;
}
.fieldSet3{
font-size:10pt;
padding-left:10px;
border:1px solid;
width:850px;
border-color:#990000;
float:inherit;
margin:auto;
}
.fieldSet3 legend{
border:1px solid;
border-color:#990000;
font-weight:bold;
color:#990000;
background-color:#F0E2BD;
padding-left:8px;
padding-right:8px;
padding-top:3px;
padding-bottom:3px;
margin-left:10px;
}

.list1{
font-size:11pt;
float:left;
width:800px;
margin:auto;
}
.list1 ul{
float:left;
list-style-type:none;
}
.list1 ul li{
list-style-type:none;
float:left;
padding-left:20px;
padding-right:20px;
}

.TabStyle1 .ajax__tab_header 
{
    color: #aa976b;
    font-size: 13px;
    font-weight: bold;
   /* background-color: White; */
    margin-left: 10px;
    text-align:left;
}
.TabStyle1 .ajax__tab_outer
{
    /* background-color: White; */
}
.TabStyle1 .ajax__tab_inner
{

    background-color: #f8f6ea;
   background-image:url(../images/tab/tab.jpg);
   background-repeat:no-repeat;
    color:White;
    width:85px;
    height:31px;
    text-align:center;
    vertical-align:middle;
}
.TabStyle1 .ajax__tab_hover .ajax__tab_outer
{
    /* background-color: Orange; */
}
.TabStyle1 .ajax__tab_hover .ajax__tab_inner
{
    background-color: #FFFFE1;
    background-image:url(../images/tab/active.jpg); 
    color:White;
    width:82px;
    height:31px;
    margin-left:2px;
    margin-right:1px;
    text-align:center;
    vertical-align:middle;
}
.TabStyle1 .ajax__tab_active .ajax__tab_outer
{
    /* background-color: White; */

    color:White;
    width:85px;
    height:31px;
    text-align:center;
    vertical-align:middle;
}
.TabStyle1 .ajax__tab_active .ajax__tab_inner
{
    background-color: #fefdf7;
   background-image:url(../images/tab/active.jpg);
    color:White;
    width:82px;
    height:31px;
        margin-left:2px;
    margin-right:1px;
    text-align:center;
    vertical-align:middle;
}
.TabStyle1 .ajax__tab_body
{
    background-image:url(../images/tab/bg.jpg);
    height:450px;
    overflow:auto;
    width:940px;
}
/* .myGrid
{
	
	margin: 0px;
	width: 50%;
	font-family:MS Sans Serif, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	
}
.myGrid tr
{
	border: solid 0px #307196;
	
}

.myGrid td
{
	font-family:MS Sans Serif;
font-size:9pt;
color:#000066;
padding-right:10px;
text-align:left;
}

.myGrid td.right
{
	color: Red;
	text-align:left;
}
.myGrid td.wrong
{
	color: Green;
	text-align:left;
}
.myGrid th
{
	font-weight:bold;
	padding: 3px 3px;
	background: #B2BECD;
	color: #000000;
	text-align:left;
	font-family: MS Sans Serif;
	font-size:9pt;
	
}
.myGridItem
{
	background-color:#FEE1C7;	
	color:#333;
	border-top:1px solid Black;
	font-family: MS Sans Serif;
	font-size:9pt;
	}

.myGridAltItem
{
	background:#F7F7F7;
	color:#333;
	font-family: MS Sans Serif;
	font-size:9pt;
}

.myGridHeader
{
	height:25px;
	background-color:#DA8641;
}
.myGridFooter
{
    background-color:#ffffff;	
	color:#333;
	border-top:1px solid Black;
	font-family: MS Sans Serif;
	font-size:9pt;
	font-weight:bold;
	text-align:right;
} */

/* dealers login page */
.loginDiv{
	background-image:url(../images/Dealers/loginBg.jpg);
	width:500px;
	height:400px;
	margin-top:55px;
	margin-left:auto;
	margin-right:auto;
	
	padding-top:17px;
	}
	.LoginTxt{
	background-color:#C77336;
	padding-left:20px;
	display:block;
	margin-left:15px;
	margin-right:15px;
	height:25px;
	padding-top:5px;
	}
	.uNmae{
	    padding-left:20px;
	    margin-left:15px;
	    margin-right:15px;
	    padding-top:25px;
	    width:400px;
	    margin:auto;
	}
	
	.uNmae ul{
	    margin:0;
	    padding:0;
	}
	
	.uNmae ul li{
	    list-style-type:none;
	    float:left;
	    padding-left:10px;
	    padding-right:10px;
	    font-size:10pt;
	}
	.width100{
	    width:75px;
	    padding-top:3px;
	}
	.submit3{
	padding-left:20px;
	margin-left:15px;
	margin-right:15px;
	padding-top:25px;
	width:418px;
	margin:auto auto auto 18px;
	text-align:center;
	float:left;
	height: 33px;
}
	.newReg
	{
	float:right;
	padding-right:25px;
	}
	
	.Validate{
	font-size:9pt;
	color:red;
	font-weight:bold;
	padding-top:3px;
	}
	h4{
        color:#FFFFFF;
        margin:0;
        padding:0;
        font-size:11pt;
     }
     h2{
        color:#000000;
        margin:0;
        padding:0;
        font-size:14pt;
        font-weight:bold;
     }
     .textBox200
     {
         width:200px;
         font-size:9pt;
         border: 1px solid #3B5B64;
         font-size:8pt;
     }
     .txtBoxReadonly200
     {
         width:120px;
         font-size:9pt;
         background-color:#E5E5E5;
         color:#000000 !important;
         text-align:right;
         border: 1px solid #3B5B64;
         font-size:8pt;
     }
     .txtBoxReadonly200[readonly]
     {
         width:120px;
         font-size:9pt;
         background-color:#E5E5E5;
         color:#000000 !important;
         text-align:right;
         border: 1px solid #3B5B64;
         font-size:8pt;
     }
      .txtBoxRonly
     {
         width:150px;
         font-size:10pt;
         background-color:#E5E5E5;
         color:#000000 !important;
         border: 1px solid #3B5B64;
         font-family:Arial;
         
     }
      .txtBoxTransfer
     {
         
         font-family:Arial;
         font-size:10pt;
         color:#000000 !important;
         border: 1px solid #3B5B64;
         
     }
     .textboxSno
     {
         width:20px;
         border:0px;
         background:none;
     }
	      .textBox150
     {
         width:150px;
         border: 1px solid #3B5B64;
         font-size:8pt;
     }
     .captchaBorder{
        border:1px solid;
        border-color:#3B5B64;
        height:auto;
        margin-bottom:3px;
        width:200px;
       }
      .DivTitle
       {
        font-size:13pt;
        color:#990000;
        text-align:center;
        font-weight:bold; 
       }
       .tdHeight40
       {
        height:40px;
        padding-right:10px;
        text-align:right;
        font-size:9pt;   
       }
       
       /* Registration */
       /*h3
{
font-weight:bold;
color:#FF6600;
margin:0;
padding:0;
}*/
.PageHead{
font-size:14pt;
font-weight:bold;
width:auto;
color:Navy;
margin-top: 0px;
text-align:center;
}
    .wizard1
    {
        width:99%;
        padding-right:2px;
    }
	.step
   {
    font-size:11pt;
    font-weight:bold;
    width:98%;
    border-color:#999999;
    border:1px solid #999999;
    padding-top:15px;
    }
    .step legend{
    border:1px solid;
    border-color:#217902;
    color:#217902;
    background-color:#FFFFFF;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
    margin-left:10px;
    width:auto;
    }
	
	   .RegText{
font-size:10pt;
color:#000066;
padding-right:10px;
font-weight:normal;
height:40px;
vertical-align:top;
}
 .transferText
 {
     font-family:Arial;
font-size:10pt;
color:#000066;
font-weight:normal;
vertical-align:top;
}
   .errMsg
   {
       font-size:10pt;
       color:Red;
       font-weight:bold;
   }
   .errMsg1
   {
       font-size:8pt;
       color:Red;
       font-weight:normal;
   }
      .textBox60
   {
       width:60px;
       border: 1px solid #3B5B64;
       font-size:8pt;
       color:Black;
       
   }
         .textBox
   {
       border: 1px solid #3B5B64;
       font-size:8pt;
       color:Black;
       
   }
      .textBox100
   {
       width:100px;
       border: 1px solid #3B5B64;
       font-size:8pt;
       color:Black;
      
   }
        .textBox120
   {
       width:120px;
       border: 1px solid #3B5B64;
       font-size:8pt;
       color:Black;
       text-align:left;
   }
      	    .textBox160
   {
       width:160px;
       border: 1px solid #3B5B64;
         font-size:8pt;
       color:Black;
   }
   	    .textBox170
   {
       width:170px;
       border: 1px solid #3B5B64;
         font-size:8pt;
       color:Black;
   }
         .textBox190
   {
       width:190px;
       border: 1px solid #3B5B64;
         font-size:8pt;
       color:Black;
   }
   
       .hint
    {
        font-size:9pt;
        color:#333333;
        font-weight:normal;
    }

   .field4{
    font-size:9pt;
    font-weight:bold;
    margin-right:12px;
    border:1px solid;
    width:99%;
    padding:5px;
    border-color:#666666;
    margin:auto;
    }

    .field4 legend{
    border:1px solid;
    border-color:#666666;
    color:#0064A3;
    background-color:#FFFFFF;
    padding-left:8px;
    padding-right:10px;
    padding-top:2px;
    padding-bottom:2px;
    margin-left:10px;
    width:auto;
    }
	.formTxtBox{
color:#000066;
font-size:10pt;
text-transform:uppercase;
}

   .divScroll
{
width:694px;
}

.divScroll ul
{
    float:left;
 

   .divScroll
{
width:1060px;
}

    padding:0;
}
.divScroll ul li
{
    list-style-type:none;
    /*width:325px;*/
    height:150px;
    overflow:auto;
    float:left;
    padding:2px;
   /*  padding-left:10px;
    padding-right:10px; */
    vertical-align:middle;
}
.border0
{
    border:0;
    overflow:auto;   
    font-size:10pt;
   
.border0
{
    border:0;
    overflow:auto;   
    font-size:10pt;
    color:#000066;
}
vScrollLi280
{
width:270px;
}
.edit2
{
    background-image:url(../images/user.png);
    background-repeat:no-repeat;
    padding-left:20px;
    text-decoration:none;
    color:#FF6600;
    display:block;
    
}
.editBtn
{
    background-image:url(../images/edit.png);
    background-repeat:no-repeat;
    padding-top:0px;
    padding-left:14px;
    text-decoration:none;
    color:#FF6600;
    width:60px;
    display:block;
    text-align:left;
    background-color:transparent;
    border: 0;
    font-size:8pt;  
}
.deleteBtn
{
    background-image:url(../images/delete.png);
    background-repeat:no-repeat;
    padding-top:0px;
    padding-left:14px;
    text-decoration:none;
    color:Red;
    width:60px;
    display:block;
    text-align:left;
    background-color:transparent;
    border: 0;
    font-size:8pt; 
}
.addBtn
{
    
    background-repeat:no-repeat;
    padding-top:0px;
    padding-left:14px;
    text-decoration:none;
    color:Green;
    width:50px;
    display:block;
    text-align:left;
    background-color:transparent;
    border: 0;
    font-size:8pt;  
}
.addBtn1
{
    background-image:url(../images/add2.png);
    background-repeat:no-repeat;
    padding-top:2px;
    vertical-align:text-top;
    text-decoration:none;
    height:20px;
    font-weight:bold;
    color:white;
    width:63px;
    display:block;
    text-align:center;
    background-color:transparent;
    border: 0;
    font-size:11px;  
}
.addBtn2
{
    background-image:url(../images/add.png);
    background-repeat:no-repeat;
    padding-top:0px;
    padding-left:14px;
    text-decoration:none;
    color:Green;
    width:55px;
    display:block;
    text-align:left;
    background-color:transparent;
    border: 0;
    font-size:9pt;  
}
.nextBtn1
{
    background-image:url(../images/next.png);
    background-repeat:no-repeat;
    height:30px;
    margin:5px;
    color:white;
    width:82px;
    display:block;
    background-color:transparent;
    border: 0;
    font-size:11px;  
}
.previousBtn1
{
    background-image:url(../images/previous.png);
    background-repeat:no-repeat;
    height:30px;
    margin:5px;
    color:white;
    width:97px;
    display:block;
    background-color:transparent;
    border: 0;
    font-size:11px;  
}
.removeBtn1
{
    background-image:url(../images/remove11.png);
    background-repeat:no-repeat;
    padding-left:18px;
    padding-top:0px;
    vertical-align:top;
    text-decoration:none;
    height:20px;
    font-weight:bold;
    color:white;
    width:68px;
    display:block;
    text-align:left;
    background-color:transparent;
    border: 0;
    font-size:11px;  
}
.updateBtn
{
    background-image:url(../images/update.png);
    background-repeat:no-repeat;
    padding-top:0px;
    padding-left:14px;
    text-decoration:none;
    color:Green;
    width:60px;
    display:block;
    text-align:left;
    background-color:transparent;
    border: 0;
    font-size:8pt;  
}

.cancelBtn
{
    background-image:url(../images/cancel.png);
    background-repeat:no-repeat;
    padding-top:0px;
    padding-left:14px;
    text-decoration:none;
    color:Red;
    width:60px;
    display:block;
    text-align:left;
    background-color:transparent;
    border: 0;
    font-size:8pt;  
}
 .icon
   {
        margin:0; padding:0;
   }
   .icon ul
   {
       margin:0; padding:0; float:left;
   }
   
   .icon ul li
   {
       list-style-type:none; 
       float:left; 
       height:20px;
   }
   
   .tablePadding
   {
       padding:10px;
       font-size:9pt;
       text-align:justify;
       border:1px solid black;
       background-color:#FFFFFF;
   }
    .tablePadding td
   {
       padding-left:10px;
       padding-right:10px;
       font-size:9pt;
       text-align:justify;
       background-color:#FFFFFF;
       line-height:18px;
   }
     .GridLinks{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000099;
font-weight:normal;
text-decoration:none;
}
     .header2{
font-family:Arial, Helvetica, sans-serif;
font-size:10pt;
color:#990000;
font-weight:bold;
text-decoration:none;
}
.GridLinks:hover{
font-family:Arial, Helvetica, sans-serif;

font-size:12px;
color:#CC0000;
font-weight:normal;
text-decoration:underline;
}
.tableBorder{
border: 1px solid #990000;
width:922px;
margin-top:-1px;
}
.tableBorder tr
{
    border: 1px solid #990000;
    background:#FFF; /*#FFF9E8;*/
}
.tableBorder1{
border: 1px solid #990000;
margin-top:-1px;
}

.trBorder1
{
    
border: 1px solid #990000;
margin-top:-1px;


}

.adjustment
{
    margin:0;
    padding:0;
}
.adjustment ul
{
    margin:0;
    padding:0;
    float:left;
}
.adjustment ul li
{
    float:left;
    list-style-type:none;
}
.inputDisabled
{
    color:Red;
}
input[disabled]
{
    color:Black;
}
.headerImg
{
    background-image:url(../images/rs.png);
    background-repeat:no-repeat;
    background-position:187px ;
    
}
.headerImg1
{
    background-image:url(../images/rs.png);
    background-repeat:no-repeat;
    background-position:162px ;
    
}
.headerImg2
{
    background-image:url(../images/rs.png);
    background-repeat:no-repeat;
    background-position:182px ;
    
}

.headerImg3
{
    background-image:url(../images/rs.png);
    background-repeat:no-repeat;
    background-position:143px ;
    
}

.returns
{
    margin:0;
    padding:0;
    float:right;
}

.returns ul
{
    margin:0;
    padding:0;
    float:right;
    list-style-type:none;
    padding-top:3px;
}
.returns ul li
{
    padding:0;
    margin:0;
    float:left;
    list-style-type:none;
}
 .logOut
     {
         background-image:url(../images/logOut.png);
         background-repeat:no-repeat;
         padding-top:13px;
         background-position:top;
         padding-left:2px;
         margin-top:2px;
         font-size:8pt;
         color:#005A92;
         text-decoration:none;
         display:inline-block;
     }
      .home3
     {
         background-image:url(../images/home.png);
         background-repeat:no-repeat;
         padding-top:13px;
         background-position:top;
         margin-top:2px;
         padding-left:2px;
         font-size:8pt;
         color:#005A92;
         text-decoration:none;
         display:inline-block;
     }
     
     .linksgis
     {
           list-style-image:url('../images/arrow1.jpg');
     }
      .linksgis li 
      {
          padding:5px;
      }
     .linksgis li a
     {
         font-family:Arial, Helvetica, sans-serif;
font-size:14px;

letter-spacing:1px;
text-decoration:none;
     }
       .linksgis li a:hover
     {
         font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#CC0000;
font-weight:bold;
text-decoration:none;
letter-spacing:1px;
     }
 

     .capthca
        {
            background-color: White;
            font-size: 35px;
            color: green;
            font-style: oblique;
            letter-spacing: 3px;
            padding: 5px;
            font-variant: normal;
            font-weight: bold;
            font-family: MyFont;
        }